<div ui-view class="view-animate"></div>
<div class="topbar" ng-if="signupUser!=null">
    <div class="col-sm-2 pull-left">
        <div id="company-logo">
            <a href="/auth/login/biz"><img src="/images/logo.png" alt="Shmib" /></a>
        </div>
    </div>
    <div class="col-sm-4 pull-right">
        <div class="signupMessage pull-right">
            <span ng-if="signupUser!=null">Hello! <span ng-bind="signupUser"></span>,</span>
            <a name="signOut" ng-if="signupUser!=null" href="/auth/logout/biz"> Sign Out</a>
        </div>
    </div>
</div>
<style>
    .container-signup {
        padding-bottom: 10px;
    }
    
    .profile__form .profile__fields .field {
        margin-bottom: 10px;
    }
    
    .signup-loading {
        display: inline-block;
        position: relative;
        left: 0;
        top: -15px;
        z-index: -1;
        width: 100%;
    }
    
    .gray {
        margin-left: 0px;
        padding-bottom: 5px;
        font-size: 19px;
        margin-top: 5px;
        text-align: left;
        margin-bottom: 0px;
        font-weight: normal !important;
    }
    
    .grayPhoneNumber {
        font-weight: normal;
        margin-top: 1px;
        font-size: 11px !important;
        color: #636463;
        font-style: italic;
        font-weight: normal !important;
    }
    
    .headingMain {
        padding-left: 40px;
        padding-top: 15px;
    }
    
    .profile__form {
        padding-top: 0px !important;
        padding-bottom: 10px;
    }
    
    .RestaurantName {
        display: inline-block;
    }
    
    .grayRestaurant {
        font-weight: normal;
        margin-top: 1px;
        font-size: 10px;
        color: #636463;
    }
    
    .errorMsg {
        position: absolute;
        left: 0px;
        top: 0px;
        /* float: left; */
        margin-top: 0px;
        display: block;
        /* width: 100%; */
    }
    
    .errorImg {
        position: absolute;
        right: 0;
        top: -40px;
    }
    
    .restaurantType {
        width: 47%;
        margin-right: 10px;
    }
    
    .foodType {
        width: 47%;
    }
    
    .selectFoodType {
        margin-left: 40px;
    }
    
    .grayExpensive {
        margin-bottom: 0px;
    }
    
    .grayWeb {
        margin-bottom: 0px;
        margin-top: 0px;
    }
    
    .grayCustomer {
        font-weight: normal;
        margin-bottom: 0px;
        margin-top: 0px;
        font-size: 12px !important;
        font-style: italic;
    }
    
    .businessUrl {
        width: 50%;
    }
    
    .divWebaddress {
        width: 48%;
    }
    
    .grayLocation {
        margin-top: 10px;
        padding-bottom: 0px;
    }
    
    .profile__footer {
        padding-top: 10px;
        margin-top: 10px;
        text-align: center;
    }
    
    .subfield {
        position: relative;
        width: 33%;
        float: left;
    }
    
    .subfield3 {
        width: 28%;
        margin-left: 8px;
    }
    
    @media (max-width: 414px) and ( max-height: 700px) {
        .bottom-footer {
            position: relative;
            clear: both;
            float: left;
            margin-top: 30px;
        }
    }
    
    .dropdown-menu>.active>a,
    .dropdown-menu>.active>a:hover,
    .dropdown-menu>.active>a:focus {
        background-color: #f66c66 !important;
    }

</style>
<div class="container">
    <div class="signup-parent">
        <div ng-if="isBusiness">
            <div id="vw-signup-biz" class="container-signup">

                <div class="profile">
                    <h3 class="gray headingMain">Add business to your account</h3>
                    <form name="addBussinessForm" autocomplete="off" novalidate>
                        <div class="profile__form">
                            <div class="profile__fields">
                                <div class="field">
                                    <input type="text" id="cityName" name="cityName" class="input" ng-model="business.nearCity" placeholder="Near City" uib-typeahead="item as item.cityName for item in getCityName($viewValue)| limitTo:8" typeahead-editable="false" class="form-control" typeahead-min-length="3" typeahead-on-select='onSelectCity($item)'>
                                    <input type="text" id="restaurantname" name="restaurantName" class="input" ng-model="business.restaurantName" placeholder="Business Name" uib-typeahead="item as item.companyname + ', ' + item.address for item in getBizName($viewValue)| limitTo:8" typeahead-editable="false" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control" typeahead-min-length="2" typeahead-on-select='onSelect($item)' ng-blur="loadingLocations=false;noResults=false" required>
                                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                    <div ng-show="noResults">
                                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                                    </div>
                                    <span name="msgBizName" class="signup-loading err-critical" ng-show="addBussinessFormValid && addBussinessForm.restaurantName.$error.required"><span class="errorMsg">Please select a business name from the typeahead list.</span>
                                    <img src="images/failSmallBlue.gif" tooltip-placement="top" uib-tooltip="Please select a business name from the typeahead list." class="red-tooltip errorImg" />
                                    </span>
                                </div>
                                <div class="field">

                                    <input type="text" id="email " placeholder="Business Email Address" class="input" ng-focus="resetEmail()" ng-model="business.emailAddress" name="emailAddress" ng-pattern="emailPattern" required />

                                    <span class="signup-loading err-critical" ng-show="businessEmailAccepted">
                                    <img class="errorImg" src="images/spinnerCheckSmall.gif" />
                                </span>

                                    <span class="signup-loading err-critical" ng-show="emailLoading">
                                    <img class="errorImg" src="images/loadingSpinnerSmall.gif" />
                                </span>

                                    <span name="msgInvalidEmail" class="signup-loading err-critical" ng-show="addBussinessForm.emailAddress.$error.pattern==true">
                                        <span class="errorMsg">Invalid Email Address Format.</span>
                                    <img src="images/failSmallBlue.gif" tooltip-placement="left" uib-tooltip="Invalid Email Address Format!" class="red-tooltip errorImg" />
                                    </span>

                                    <span name="msgEmailUsed" class="signup-loading err-critical" ng-show="duplicateEmail==true">
                                    <span class="errorMsg">Email already in use.</span>
                                    <img src="images/failSmallBlue.gif" tooltip-placement="left" uib-tooltip="Email already in use!" class="red-tooltip errorImg" />

                                    </span>

                                    <span name="msgEmailRequired" class="signup-loading err-critical" ng-show="addBussinessFormValid &&
                                      (addBussinessForm.emailAddress.$error.required)">
                                    <span class="errorMsg">Email address is required.</span>
                                    <img src="images/failSmallBlue.gif" tooltip-placement="left" uib-tooltip="Email address is required!" class="red-tooltip errorImg" />
                                    </span>

                                </div>

                                <div class="field">



                                    <input type="text" id="phoneNumber" class="input" ng-model="business.phoneNumber" name="phoneNumber" ui-mask="(999) 999 9999" ui-options="{clearOnBlur: false}" ng-focus="resetPhoneNumber()" model-view-value="true" ng-blur="checkPhoneNumber(business.phoneNumber, addBussinessForm.phoneNumber.$viewValue.length)" />

                                    <span class="gray grayPhoneNumber">Business Phone Number</span>

                                    <div ng-show="addBussinessForm.phoneNumber.$viewValue.length > 0">
                                        <span class="signup-loading err-critical" ng-show="phoneNumberFailed==true">
                                    <span class="errorMsg">Phone number must be 10 digits.</span>
                                        <img src="images/failSmallBlue.gif" tooltip-placement="left" uib-tooltip="Phone number must be 10 digits!" class="red-tooltip errorImg" style="top:-60px" />
                                        </span>

                                        <span class="signup-loading err-critical" ng-show="phoneNumberDuplicate==true">
                                    <span class="errorMsg">Phone number already in use.</span>
                                        <img src="images/failSmallBlue.gif" tooltip-placement="left" uib-tooltip="Phone number already in use." class="red-tooltip errorImg" style="top:-60px" />
                                        </span>
                                    </div>


                                </div>

                                <!--
<div class="field">
    <select id="restaurantType" class="input restaurantType" ng-model="business.restype" name="restauranttype" ng-options='option1.id as option1.refCode for option1 in restype' required>
                                    </select>
    <select id="foodType" ng-if="business.restype === '8'" class="input foodType" ng-model="business.foodtype" name="foodtype" ng-options='option2.id as option2.refCode for option2 in foodtype'>
                                    </select>
    <span name="msgSelectBizType" class="foodType signup-loading err-critical" ng-show="addBussinessFormValid &&  addBussinessForm.restauranttype.$error.required">
                                <span class="errorMsg">Select Business Type</span>
    </span>
    <span class="errMessage err-critical" ng-show="addBussinessFormValid &&  addBussinessForm.foodtype.$error.required"><span style="margin-left: 10px;">Select Food Type</span></span>
</div>
<div class="clearfix"></div>
<h4 class="gray grayWeb">Business Web Address</h4>
<h6 class="gray grayCustomer">(customers go to this address to send their shmibs)</h6>
<div class="field">
    <input type="text" value="https://app.shmib.com/biz/" class="input businessUrl" readonly />
    <input type="text" ng-trim="false" id="webaddress" placeholder="Business Name" class="input divWebaddress" ng-model="business.webaddress" ng-pattern="webaddress.word" name="webaddress" ng-blur="checkRestaurant(business.webaddress)" ng-focus="resetRestaurant()" ng-change="removeSpace()" required />

    <span class="signup-loading err-critical" ng-show="nameLoading">
                                <img src="images/loadingSpinnerSmall.gif" class="errorImg" />
                            </span>

    <span class="signup-loading err-critical" ng-show="nameAccepted">
                                <img src="images/spinnerCheckSmall.gif" class="errorImg" />
                            </span>

    <span name="msgInvalidWebAddress" class="signup-loading err-critical" ng-show="addBussinessForm.webaddress.$error.pattern &&
								  !addBussinessForm.webaddress.$error.required">
								<span class="errorMsg">Invalid web address.</span>
    <img src="images/failSmallBlue.gif" tooltip-placement="top" class="red-tooltip errorImg" uib-tooltip="Invalid web address." />
    </span>

    <span name="msgNoWebAddress" class="signup-loading err-critical" ng-show="addBussinessFormValid &&
								  addBussinessForm.webaddress.$error.required">
								<span class="errorMsg">Provide business web address.</span>
    <img src="images/failSmallBlue.gif" tooltip-placement="top" class="red-tooltip errorImg" uib-tooltip="Please provide business web address." />
    </span>


    <span name="msgWebAddressInUse" class="signup-loading err-critical" ng-show="nameFailed &&
                                 (!addBussinessForm.webaddress.$error.required || !addBussinessForm.webaddress.$error.pattern)">
                                <span class="errorMsg">Web address already in use.</span>
    <img src="images/failSmallBlue.gif" tooltip-placement="top" uib-tooltip="Web address already in use." class="red-tooltip errorImg" />
    </span>

</div>
-->
                                <h4 class="gray grayLocation">Business Location</h4>
                                <div class="field" style="margin-bottom:18px;">
                                    <input type="text" id="street_address_long" class="input updatefield" placeholder="Address" ng-model="business.address" name="address" style="display: inline-block;" readonly />
                                </div>

                                <div class="field">

                                    <span class="subfield">
                                <input type="text" id="city" placeholder="City"  class="input updatefield" ng-model="business.city" name="city" readonly />
                                    </span>
                                    <span class="subfield" style="margin-left:8px;">
                                <input type="text" id="state" placeholder="State" class="input updatefield" ng-model="business.state" name="state"           readonly />
                                    </span>
                                    <span class="subfield subfield3">
                                <input type="text" id="zipcode" placeholder="Zip Code" class="input updatefield" ng-model="business.zipcode" name="zipcode" ng-trim="false" readonly />
                                    </span>
                                </div>
                                <div class="clearfix"></div>
                                <div class="profile__footer">
                                    <span class="center">
                                    <button name="addBusiness" class="btn primary-bg-blue" style="height: 28px;" ng-click="addBusiness(business, false, addBussinessForm.$valid)">CREATE
                                            <span ng-show="spinner"><i class="glyphicon glyphicon-refresh spinning"></i></span>
                                    </button>

                                    <button ng-show="addAnotherBiz" name="back" class="btn primary-bg-blue" style="height: 28px;" ng-click="backtoDashboard();">CANCEL
                                    </button>
                                    <div class="err-critical">{{errorMessage}}</div>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
