<style>
    .passwordFaild {
        position: absolute;
        right: 17px;
        top: 1px;
    }
    
    .passwordNotMatch {
        position: absolute;
        right: 17px;
        top: 1px;
    }
    
    .newPassword {
        position: absolute;
        right: 17px;
        top: 2px;
    }
    
    .errorMsg {
        position: absolute;
        left: 15px;
        top: 41px;
        margin-top: 0px;
        display: block;
    }
    
    .errorImg {
        position: absolute;
        right: 17px;
        top: 1px;
    }

</style>
<div class="container-fluid" style="margin-top:20px;">
    <div ui-view class="view-animate"></div>
    <div class="profileHeader">
        <div class="row">
            <div class="col-sm-11">

                <div id="top-navigation">
                    <img ng-click="back()" src="../images/arrow-back.png" class="chat-arrow-back profile-arrow"> </div>

                <h2 class="margin-0 chng-pass" style="color:#fff;">Change Password</h2>

                <div class="pull-right" style=" margin-top:-25px; ">

                </div>
            </div>

        </div>
    </div>



    <div class="profileDetails">

        <form name="resetpwdForm" class="form-group" novalidate>



            <div class="row">
                <div class="form-group col-md-offset-2 col-md-8">

                    <input type="text" style="display:none">
                    <input type="password" style="display:none">
                    <input class="form-control" type="password" name="passwordold" autocomplete="off" placeholder="Old Password" ng-model="passwordOld" required/>





                    <span class="err-critical" ng-show="resetOldPwdvalid && resetpwdForm.passwordold.$error.required">
                        <span class="errorMsg">Password is required</span>
                    <img src="images/failSmallBlue.gif" tooltip-placement="left" uib-tooltip="Password is required" class="red-tooltip passwordFaild errorImg" />
                    </span>

                </div>

                <div class="form-group col-md-offset-2  col-md-8">
                    <input class="form-control" type="password" name="password" placeholder="New Password" ng-model="password" ng-minlength="8" ng-maxlength="20" ng-pattern="passwPattern" required />






                    <span class="err-critical" ng-show="resetPwdvalid && resetpwdForm.password.$error.required">
						<span class="errorMsg">New Password is required.</span>
                    <img src="images/failSmallBlue.gif" tooltip-placement="left" uib-tooltip=" New Password is required." class="red-tooltip newPassword errorImg" />
                    </span>

                    <span class="err-critical" ng-show="!resetpwdForm.password.$error.required && (resetpwdForm.password.$error.minlength || resetpwdForm.password.$error.maxlength) && resetpwdForm.password.$dirty">
                        <span class="errorMsg">Passwords must be between 8 and 20 characters.</span>
                    <img src="images/failSmallBlue.gif" tooltip-placement="left" uib-tooltip="Passwords must be between 8 and 20 characters." class="red-tooltip newPassword errorImg" />
                    </span>
                    <span class="err-critical" ng-show="!resetpwdForm.password.$error.required && !resetpwdForm.password.$error.minlength && !resetpwdForm.password.$error.maxlength && resetpwdForm.password.$error.pattern && resetpwdForm.password.$dirty">
                        <span class="errorMsg">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</span>
                    <img src="images/failSmallBlue.gif" tooltip-placement="left" uib-tooltip="Must contain one lower & uppercase letter, and one non-alpha character (a number or a symbol.)" class="red-tooltip newPassword errorImg" />
                    </span>
                </div>

                <div class="form-group col-md-offset-2  col-md-8">
                    <input class="form-control" type="password" name="passwordConfirmation" placeholder="Confirm Password" ng-model="passwordConfirmation" password-confirm match-target="password" ng-minlength="8" ng-maxlength="20" ng-pattern="passwPattern" required />





                    <span class="err-critical" ng-show="resetPwdvalid && resetpwdForm.passwordConfirmation.$error.required">
                        <span class="errorMsg">Confirm password is required </span>
                    <img src="images/failSmallBlue.gif" tooltip-placement="left" uib-tooltip="Confirm Password is required." class="red-tooltip newPassword errorImg" />
                    </span>
                    <span class="err-critical" ng-show="!resetpwdForm.passwordConfirmation.$error.required && (resetpwdForm.passwordConfirmation.$viewValue != resetpwdForm.password.$viewValue)">
                        <span class="errorMsg">Passwords do not match.</span>
                    <img src="images/failSmallBlue.gif" tooltip-placement="left" uib-tooltip="Passwords do not match." class="red-tooltip newPassword errorImg" />
                    </span>

                </div>

            </div>

            <div class="col-sm-12 text-center" style="padding:10px 0;" ng-show="resMessage">

                <span ng-class="{'succ-message': isSuccess, 'err-critical': !isSuccess}">{{resMessageContent}}</span>

            </div>

            <div class="row">
                <div class="form-group col-md-offset-2  col-md-8">

                    <div style="text-align:center">
                        <button class="btn primary-bg" type="submit" style="color:#fff;" ng-click="resetpwdnowmodal(passwordOld,password,resetpwdForm.$valid);"> Change Password
                            <span ng-show="spinner"><i class="glyphicon glyphicon-refresh spinning"></i></span></button>
                    </div>

                </div>
            </div>


        </form>

    </div>
</div>
