<style>
    .tdNoTopborder {
        border-top: none;
    }
    
    .itemEmail {
        border: none;
        text-align: center;
        padding: 15px 8px !important;
    }
    
    .resetButton {
        text-align: center;
        border-top: none;
    }
    
    .btn-done {
        display: none;
    }
    
    .btn-done-show {
        display: inline-block;
    }
    
    .forgotPasswordModal .resetpw-loading {
        position: relative;
        left: 0px;
        display: block;
        width: 100%;
        top: -42px;
    }
    
    .forgotPasswordModal .errorMsg {
        top: 42px !important;
        margin-top: 0px;
        display: block;
    }
    
    .forgotPasswordModal .errorImg {
        position: absolute;
        right: 0;
        top: 3px;
    }

</style>
<modal class="forgotPasswordModal profile">
    <div class="modal-header" style="text-align:center;border-bottom:none;display:none">
    </div>

    <div class="modal-body">
        <form name="resetPWForm" id="resetPWForm" ng-show="formShow">
            <table class="table fpTable">
                <tbody>
                    <tr class="item">
                        <td style="border:none;">
                            <button type="button" class="close" ng-click="cancel()">&times;</button>
                        </td>
                    </tr>
                    <tr class="item">
                        <td class="tdNoTopborder">
                            <h4 class="modal-title" style="text-align:center;font-size:24px">Forgot Password</h4> </td>
                    </tr>
                    <tr class="item">
                        <td class="itemEmail">Enter your email</td>
                    </tr>
                    <tr class="item">
                        <td style="border:none;">
                            <div style="position:relative">
                                <input type="text" id="username " placeholder="Email" class="input" ng-model="resetpw.emailAddress" name="emailAddress" ng-pattern="emailPattern" ng-focus="resetEmail();" required />

                                <span class="resetpw-loading err-critical" ng-if="submitted && (newEmail || resetPWForm.emailAddress.$error.required)">
                                    <img src="../images/failSmallBlue.gif" class="errorImg" />
                                    
                                    <span ng-show="submitted && newEmail && !resetPWForm.emailAddress.$error.empty &&
                                    !resetPWForm.emailAddress.$error.pattern && !resetPWForm.emailAddress.$error.required" class="errorMsg">{{errMessage}}</span>

                                <span ng-if="resetPWForm.emailAddress.$error.required" class="errorMsg">Email is required.</span>

                                </span>

                                <span class="resetpw-loading err-critical" ng-if="resetPWForm.emailAddress.$error.pattern">
                                    <span class="errorMsg">Email is not valid.</span>
                                </span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
        <div ng-if="msgShow" class="displayMessage">
            <img src="../images/icon-success.svg" />
            <a class="close" ng-click="cancel()"></a>
            <br/> An email is sent to your address with instructions to reset your password.
        </div>
    </div>

    <div class="modal-footer resetButton">
        <button class="btn btn-done" ng-class="{'btn-done-show': !msgShow}" type="button" ng-click="reset()">Reset Password</button>
        <button class="btn btn-done" ng-class="{'btn-done-show': msgShow}" type="button" ng-click="ok()">Done</button>
    </div>
</modal>
