<modal>
<div class="modal-header" style="text-align:center;border-bottom:none;">
        <button type="button" class="close" ng-click="cancel()">&times;</button>
    </div>
    <div class="modal-body">
        <div style="color: #848474;text-align: center;">
            <h1 class="text-center">Install Shmib Mobile App</h1>
            <p>Please install Shmib mobile app to get better user experience and performance.</p><br>
            <div class="col-sm-6"><a href="http://play.google.com/store/apps/details?id=com.daxima.shmib"><img src="images/img-play-store.png" /></a></div>
            <div class="clearfix"></div>
        </div>
	</div>
</modal>