<style>
    .errorMsg {
        color: #ff0000;
    }
    
    .drop-box {
        width: 120px;
        height: 120px;
        text-align: center;
        padding-top: 25px;
        position: relative;
        /*
        right: -5px;
        top: -40px;   
        */
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
        z-index: 99;
        border: 2px dashed #fff;
        margin: 20px auto 0;
    }
    
    a.btn-edit-image,
    a.btn-edit-image:active,
    a.btn-edit-image:hover,
    a.btn-edit-image:visited {
        position: relative;
        width: 90px;
        font-size: 28px;
        color: #fff;
        text-align: center;
        text-decoration: none;
        margin: 10px auto;
    }
    
    @media screen and (max-width: 767px) {
        #form-views {
            position: relative;
        }
        #ratenum-5 input[type='button'] {
            margin-left: 0px;
        }
    }

</style>
<div id="ratenum-5" class="text-center myReviewComment" style="height: 100%; padding: 30px;">
    <img src="images/icon-mail.svg" class="img-responsive" />
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">Talk to the Manager</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <textarea name="review" id="review" class="margin-top_30" rows="3" ng-model="formData.comment" placeholder="Want to share any details?"></textarea>
        </div>
        <div class="col-sm-12">
            <div class="loaderWrapper" ng-show="spinner">
                <span class="customLoader">
                    <div class="uil-ring-css" style='transform:scale(0.65);'>
                        <div></div>
                    </div>
                </span>
            </div>
            <div ngf-select="initFiles($file, $invalidFile)" ng-model="cForm.ufile" class="drop-box1" accept="image/*" ngf-drag-over-class="'dragover'" ngf-capture="camera" ngf-resize="{width: 400, height: 600}" ngf-resize-if="$width > 400 || $height > 600">
                <div class="img-error-msg" ng-show="isUnSupportedType">Unsupported file format!!! (Only GIF, JPG, JPEG and PNG are allowed)</div>
                <a class="btn-edit-image red-tooltip" ng-click="$event.preventDefault();" tooltip-placement="right" uib-tooltip="Only GIF, JPG, JPEG and PNG are allowed!">
                    <span name="uploadPicture" class="glyphicon glyphicon-camera"></span></a>

            </div>
        </div>
    </div>
    <div class="col-md-12 margin-top_10 text-center radio-toolbar">
        <div class="center-sett">
            <p> We may want to follow up with you. Please enter your email. We will not spam you.</p>
        </div>
    </div>

    <input name="email" id="email" type="text" ng-model="formData.email" ng-pattern="emailPattern" class="margin-top_10" placeholder="Email" required>
    <div class="errorMsg  margin-top_10 " ng-show="!signupForm.email.$error.required && signupForm.email.$error.pattern  && signupForm.email.$dirty">Email is not valid!</div>

    <div class="errorMsg  margin-top_10 " ng-show="signupFormValid && signupForm.email.$error.required">
        Email is required.</div>

    <div class="row margin-top_40">
    </div>
    <button name="commentSubmit" class="submit-button" ng-disabled="isSendDisabled" ng-click="processForm(signupForm.$valid);">
        SEND
    </button>
    <div ng-show="spinner && imagesNeedToUpload && imagesNeedToUpload.length > 0" style="    margin-top: 3px;">{{imagesUploaded}}/{{imagesNeedToUpload.length}} image(s) uploaded.
    </div>
</div>
