.white {
  color: #ffffff;
}
.brand {
  color: #f66c66;
}
.primary-bg {
  background: #f66c66 !important;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
a {
  cursor: pointer !important;
}
#gmaps {
  float: left;
  height: 542px;
  top: 0;
  width: 542px;
}
.gm-style-iw div {
  float: left;
}
.marker-info {
  float: left;
  text-align: left;
}
.marker-label {
  background-color: #00e300;
  border: 1px solid #000;
  border-radius: 5px;
  color: #000;
  font-size: 10px;
  font-weight: bold;
  left: -25px;
  opacity: 1;
  padding: 2px 5px;
}
.marker-label-hovered {
  background-color: #ff6464;
  border: 1px solid #000;
  border-radius: 5px;
  color: #000;
  font-size: 10px;
  font-weight: bold;
  left: -25px;
  opacity: 1;
  padding: 2px 5px;
}
.location-base {
  box-sizing: border-box;
  border: 1px solid transparent;
}
.location-base.hovered {
  border: 1px solid #2793c7;
  box-shadow: 0px 0px 5px #2793c7;
}
.location-base.selected {
  border: 1px solid #E75B5B;
  box-shadow: 0px 0px 5px #E75B5B;
}
.ng-empty.ng-invalid-required.ng-touched {
  border-bottom: 1px solid #E75B5B;
}
.ng-empty.ng-invalid-required.ng-touched:focus,
.ng-empty.ng-invalid-required.ng-untouched:focus {
  /*  box-shadow: 0px 0px 5px #2793c7;*/
}
body {
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
  color: #565a5c;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 14px;
  line-height: 1.43;
}
.relative {
  position: relative;
}
a,
a:hover,
a:active,
a:focus {
  outline: 0;
}
.margin-0 {
  margin: 0 !important;
  padding: 0;
}
.top-margin-30 {
  margin-top: 30px;
}
.top-margin-20 {
  margin-top: 20px;
}
.top-margin-10 {
  margin-top: 10px;
}
.top-margin-20 {
  margin-top: 20px;
}
.brand-background {
  background-color: #65C5DC;
}
.brand-border-color {
  border-color: #65C5DC;
}
.btn-frame {
  background-color: transparent;
  border-color: #bbb;
  padding: 6px 25px;
}
.btn-large.btn-frame span {
  display: inline-block;
  position: relative;
  right: 5px;
  top: -6px;
}
.center {
  text-align: center;
}
.gray {
  color: #565a5c;
}
.light-gray {
  color: #848474;
}
.text-muted {
  color: #82888a;
}
.white {
  color: #ffffff;
}
.green {
  color: #70C50D;
}
.red {
  color: #E75B5B;
}
.top-margin-30 {
  margin-top: 30px;
}
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
.left-border {
  border-left: 1px solid #e7e7e7;
}
.navbar-default .navbar-nav > li > a {
  height: 64px;
}
.screen-reader-only {
  border: 0 none;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.img-round,
.media-round {
  border: 2px solid #fff;
  border-radius: 50%;
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.btn-primary {
  border: none;
  box-shadow: none;
  border-radius: 2px;
}
.input-full-width {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px 5px;
}
.align-top {
  vertical-align: top;
}
.align-middle {
  vertical-align: middle;
}
.border-top {
  border-top: 1px solid #dce0e0;
}
.top-border-gray {
  border-top: 1px solid #e7e7e7;
}
.bottom-border-gray {
  border-bottom: 1px solid #e7e7e7;
}
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.white-box {
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #dce0e0;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.06);
}
.bold {
  font-weight: bold;
}
/******************************
Updated By : Rehan
******************************/
.primary-bg {
  background: #f66c66 !important;
}
.activeMenu-bg {
  background: #EC5555;
}
.primaryTextColor {
  color: #f66c66 !important;
}
#topBar .navbar-brand > img {
  max-height: 90px;
}
#topBar .navbar {
  border-radius: 0;
}
#topBar .navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: none;
}
#topBar .navbar-brand {
  height: 90px;
  padding: 0px 15px;
}
#topBar .navbar-default .navbar-nav > li > a {
  height: 90px;
  line-height: 58px;
  color: #ffffff;
}
#topBar .navbar-default .navbar-nav > li > a > span {
  font-size: 20px;
}
#topBar .navbar-default .navbar-nav > .active > a,
#topBar .navbar-default .navbar-nav > .active > a:hover,
#topBar .navbar-default .navbar-nav > .active > a:focus {
  background: #EC5555;
}
#topBar .navbar-default .navbar-nav > .open > a,
#topBar .navbar-default .navbar-nav > .open > a:hover,
#topBar .navbar-default .navbar-nav > .open > a:focus {
  background: #EC5555;
}
.bottom-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  color: #ffffff;
  width: 100%;
  padding: 5px 0;
}
.bottom-footer a,
.bottom-footer a:focus,
.bottom-footer a:active,
.bottom-footer a:visited {
  color: #ffffff;
}
#company-logo {
  padding: 10px 0 10px  10px;
}
#company-logo img {
  max-height: 60px;
}
#company-logo a,
#company-logo a:focus,
#company-logo a:visited {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
}
.view-animate.ng-enter,
.view-animate.ng-leave {
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.7s;
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
}
.view-animate.ng-enter {
  left: 100%;
}
.view-animate.ng-enter.ng-enter-active {
  left: 0;
}
.view-animate.ng-leave.ng-leave-active {
  left: -100%;
}
.err-critical {
  color: red;
  font-size: 12px;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.field-message {
  background-color: transparent;
  color: #fff;
  display: block;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  padding: 2px 5px;
  position: absolute;
  text-align: center;
  width: 100%;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.succ-message {
  color: green;
  font-size: 12px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.6;
}
.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 3px;
  background-color: #f66c66;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.plus {
  height: 32px;
  width: 32px;
  font-size: 0.6em /*Will change icon size*/;
  margin: 0 auto;
  position: relative;
}
.plus .horizontal {
  position: absolute;
  background-color: #8e8b81;
  width: 2.4em;
  height: .2em;
  top: 2.2em;
  left: 1.05em;
}
.plus .vertical {
  position: absolute;
  background-color: #8e8b81;
  width: .2em;
  height: 2.4em;
  top: 1.05em;
  left: 2.1em;
}
