<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" ng-app="shmib">

<head>
    <title>Shmib</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <base href="/">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Shmib</title>
    <link type="text/css" rel="stylesheet" media="all" href="/lib/bootstrap/dist/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" media="all" href="/css/index.css">
    <link type="text/css" rel="stylesheet" media="all" href="/css/bootstrapOverrides.css">
