<% include partials/header.ejs%>
    <link type="text/css" rel="stylesheet" media="all" href="/css/profile.css">
    <% // include file specific css files here %>
        </head>

        <body ng-app="shmib" class="signup primary-bg">
            <div ng-controller="changepwdCtrl" class="mainContainer">


                <div class="topbar">
                    <div id="company-logo" class="col-sm-2">
                        <div class="row">
                            <div class="col-md-12 titlebox  text-center">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div ui-view></div>


                </div>
            </div>

            <script>
                window.scrollTo(0, 1);
                var user = <%- JSON.stringify(user) %>;

            </script>

            <% include partials/jsfiles.ejs%>
                <% // include file specific js files here %>  
            
                    <script type="text/javascript" src="/js/routes/changeUserPassword.routes.js"></script>
                    <script type="text/javascript" src="/js/services/signing.client.services.js"></script>
                    <script type="text/javascript" src="/js/controllers/topbar.client.controller.js"></script>
                    <script type="text/javascript" src="/js/controllers/changeUserPassword.client.controller.js"></script>
        </body>

        </html>
