<% include partials/header.ejs%>
    <link type="text/css" rel="stylesheet" media="all" href="/css/review.css">
    </head>

    <body ng-app="shmib" class="">
        <div class="mainContainer">
            <% include partials/topbar.ejs %>
                <div class="container">
                    <div ui-view></div>
                </div>

        </div>
        <script>
            window.scrollTo(0, 1); 
			var user = <%- JSON.stringify(user) %>;
            var coupons = <%- JSON.stringify(coupons) %>;

        </script>
 
        
        <% include partials/jsfiles.ejs%>   
        
            <script type="text/javascript" src="/js/routes/coupons.routes.js"></script>
            <script type="text/javascript" src="/js/controllers/topbar.client.controller.js"></script>
            <script type="text/javascript" src="/js/services/signing.client.services.js"></script>
            <script type="text/javascript" src="/js/controllers/coupons.client.controller.js"></script>
            <script type="text/javascript" src="/js/controllers/couponDetails.client.controller.js"></script>
    </body>

    </html>