<% include partials/header.ejs%>
    <link type="text/css" rel="stylesheet" media="all" href="/css/authentication.css">
    <% // include file specific css files here %>
        </head>

        <body ng-app="shmib" ng-controller="resetPasswordCtrl" class="signin primary-bg">
            <div class="mainContainer">
                <div class="topbar">
                    <div id="company-logo" class="col-sm-2">
                        <a ng-click="redirectUser();"><img src="/images/logo.png" alt="Shmib" /></a>
                    </div>
                </div>
                <div class="container">
                    <div ui-view></div>
                </div>
                <div class="bottom-footer"><a ng-click="$event.preventDefault();showTermsPopUp()">Terms of Use &amp; Privacy Policy</a>
                    <%- version %>
                </div>
            </div>

            <script>
                window.scrollTo(0, 1);
                var user = <%- JSON.stringify(user) %>;
                var token = <%- JSON.stringify(token) %>;
                var err = <%- JSON.stringify(err) %>;

            </script>

            <% include partials/jsfiles.ejs%>
                <script type="text/javascript" src="/js/routes/resetpwd.routes.js"></script>
                <script type="text/javascript" src="/js/services/signing.client.services.js"></script>
                <script type="text/javascript" src="/js/controllers/resetpwd.client.controller.js"></script>
                <script type="text/javascript" src="/js/controllers/terms.modal.client.controller.js"></script>
        </body>

        </html>
