<% include partials/header.ejs%>
 <% // include file specific css files here %>
 <link type="text/css" rel="stylesheet" media="all" href="../css/ionicons.css">
 <link type="text/css" rel="stylesheet" media="all" href="../css/style.css">
</head>

<body ng-app="shmib" id="ratenum">
	    <div class="container-fluid"  ui-view></div>


        <% include partials/jsfiles.ejs%>
        <% // include file specific js files here %>
        <script type="text/javascript" src="/js/routes/terms.routes.js"></script>
</body>